

#sender {
    height: 40px;
    width:100%;
    display: flex;
    position: absolute;
    bottom: 0;
    font-size: 18px;
}

#inputbox {
    width: 100%;
    height: 100%;
    flex: 1;
    border-radius: 0;
    border-right: none;
}

#sendbtn {
    width: 150px;
    height: 100%;
    flex: none;
    border-radius: 0;
}

@media (max-width: 768px) {
    #sendbtn {
        width: 100px;
    }
}